<!doctype html>
<html lang="<%= language %>">
<head>
	<meta charset="utf-8">
	<title>FreecivCalc2</title>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<style>
.custom-combobox {
	position: relative;
	display: inline-block;
}
.custom-combobox-toggle {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-left: -1px;
	padding: 0;
}
.ui-autocomplete {
	max-height: 400px;
	overflow-y: auto;
	overflow-x: hidden;
}
.flex-container{
	display: -webkit-flex;
	display: flex;
}
#fieldset-attacker{
	-webkit-flex: 1;
	flex: 1;
}

	</style>
	<script src="widgets.js"></script>
	<script src="tabs.js"></script>
	<script src="freecivcalc.js"></script>
</head>
<body>
<div style="clear:both" id="tabs">
<ul>
	<li><a href="#tab-main">FreecivCalc</a></li>
</ul>
<div id="tab-main">
	<div class="flex-container">
		<fieldset id="fieldset-attacker">
			<legend><%= unit_select.legend_atk %></legend>
			<div class="ui-widget">
				<label><%= unit_select.select %>: </label>
				<select id="combobox-attack">
				</select>
			</div>
			<p><label><%= unit_select.class %>: </label>
			<input type="hidden" id="attacker-class"><span id="attacker-class-display"></span></p>
			<p><label><%= unit_select.veteran %>: </label>
			<select id="attacker-veteranlevel">
			</select></p>
			<table>
				<tr>
					<td style="text-align:right"><label><%= unit_select.current_hp %>: </label></td><td><input type="number" value="10" min="1" id="attacker-current-hp"></td>
					<td style="text-align:right"><label><%= unit_select.max_hp %>: </label></td><td><input type="number" value="10" min="1" id="attacker-max-hp"></td>
				</tr>
				<tr>
					<td style="text-align:right"><label><%= unit_select.attack %>: </label></td><td><input type="number" value="1" min="1" id="attacker-strength">
						<td style="text-align:right"><label><%= unit_select.firepower %>: </label></td><td><input type="number" value="1" min="1" id="attacker-firepower"></td>
				</tr>
			</table>
		</fieldset>
		<fieldset id="fieldset-defender">
			<legend><%= unit_select.legend_def %></legend>
			<div class="ui-widget">
				<label><%= unit_select.select %>: </label>
				<select id="combobox-defence">
				</select>
			</div>
			<p><label><%= unit_select.class %>: </label>
			<input type="hidden" id="defender-class"><span id="defender-class-display"></span></p>	
			<p><label><%= unit_select.veteran %>: </label>
			<select id="defender-veteranlevel">
			</select></p>
			<table>
				<tr>
					<td style="text-align:right"><label><%= unit_select.current_hp %>: </label></td><td><input type="number" value="10" min="1" id="defender-current-hp"></td>
					<td style="text-align:right"><label><%= unit_select.max_hp %>: </label></td><td><input type="number" value="10" min="1" id="defender-max-hp"></td>
				</tr>
				<tr>
					<td style="text-align:right"><label><%= unit_select.defence %>: </label></td><td><input type="number" value="1" min="1" id="defender-strength">
						<td style="text-align:right"><label><%= unit_select.firepower %>: </label></td><td><input type="number" value="1" min="1" id="defender-firepower"></td>
				</tr>
			</table>
		</fieldset>
	</div>
	<fieldset>
		<legend><%= adjustments.legend %></legend>
		<fieldset id="fieldset-terrains">
			<legend><%= adjustments.legend_terrains %></legend>
			<label><%= adjustments.select_terrain %>: </label>
			<select id="select-terrain">
			</select>
			<input type="checkbox" id="terrain-river"><label for="terrain-river"><%= adjustments.terrain_river %></label>
		</fieldset>
		<fieldset id="fieldset-in-city">
			<legend><label for="in-city"  title="land units gain 150% defence adjustments"><input type="radio" name="in-city-or-open" value="city" id="in-city"><%= adjustments.legend_in_city %></label></legend>
			<label><%= adjustments.defence_structure.legend %>: </label>
			<ul style="list-style-type:none; margin-top:3px; padding-left:1em">
				<li><label for="city-walls"><input type="checkbox" id="city-walls"><%= adjustments.defence_structure.city_walls %></label></li>
				<li><label for="city-coastal-defense"><input type="checkbox" id="city-coastal-defense"><%= adjustments.defence_structure.coastal_defense %></label></li>
				<li><label for="city-sam-battery"><input type="checkbox" id="city-sam-battery"><%= adjustments.defence_structure.sam_battery %></label></li>
				<li><label for="city-sdi-defense"><input type="checkbox" id="city-sdi-defense"><%= adjustments.defence_structure.sdi_defense %></label></li>
			</ul>
		</fieldset>
		<fieldset id="fieldset-in-open">
			<legend><input type="radio" name="in-city-or-open" value="open" id="in-open"><label for="in-open"><%= adjustments.legend_in_open %><label></legend>
			<label for="defender-fortified" title="valid for only land units"><input type="checkbox" id="defender-fortified"><%= adjustments.fortified %></label>
			<label for="in-fortress" title="valid for only land units"><input type="checkbox" id="in-fortress"><%= adjustments.in_fortress %></label>
		</fieldset>
	</fieldset>
	<button type="button" id="calc"><%= calc %></button>
	<div id="result-wrapper" style="display:none">
		<table id="result-table">
			<tr>
				<th><%= result.unit_side %></th>
				<th><%= result.strength %></th>
				<th><%= result.prob %></th>
				<th><%= result.exp %></th>
			</tr>
		</table>
	</div>
<button id="add-tab">addTab</button>
</div>
<div style="display:none" id="result-template">
	<fieldset id="fieldset-adjustments">
	<table id="adjustments-detail">
	<legend><%= result_detail.adjustments.legend %></legend>
		<tr>
			<th><%= result_detail.adjustments.label %></th>
			<th><%= result_detail.adjustments.effect %></th>
			<th><%= result_detail.adjustments.value %></th>
		</tr>
	</table>
	</fieldset>
</div>
</body>
</html>
