<!doctype html>
<html lang="<%= language %>">
<head>
	<meta charset="utf-8">
	<title>FreecivCalc2</title>
	<script src="jquery-1.12.3.min.js"></script>
	<script src="jquery-ui.min.js"></script>
	<script src="amcharts/amcharts.js"></script>
	<script src="amcharts/serial.js"></script>
	<script src="widgets.js"></script>
	<script src="freecivcalc.js"></script>
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/jquery-ui.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
<span id="display-error"></span>
<div id="freecivcalc"<% for(var i=0; i<dataset.length; i++) { if(dataset[i].default){ %> data-default-dataset-path="<%= dataset[i].path %>"<% break; } } %>>
</div>
<template id="freecivcalc-template">
<div id="tabs">
<ul>
	<li><a href="#tab-main"><%= tab_label.main %></a></li>
	<li><a href="#tab-config"><%= tab_label.config %></a></li>
</ul>
<div id="tab-main">
	<div class="flex-container">
		<fieldset id="fieldset-attacker">
			<legend><%= unit_select.legend_atk %></legend>
			<table class="table-unit-select">
				<tr>
					<td><label><%= unit_select.select %>: </label></td>
					<td><select id="combobox-attack"></select></td>
				</tr>
				<tr>
					<td><label><%= unit_select.class %>: </label></td>
					<td><input type="hidden" id="attacker-class"><span id="attacker-class-display"></span></td>
				</tr>
				<tr>
					<td><label><%= unit_select.veteran %>: </label></td>
					<td><select id="attacker-veteranlevel"></select></td>
				</tr>
			</table>
			<table>
				<tr>
					<td><label><%= unit_select.current_hp %>: </label></td><td><input type="number" value="10" min="1" id="attacker-current-hp"></td>
					<td><label><%= unit_select.max_hp %>: </label></td><td><input type="number" value="10" min="1" id="attacker-max-hp"></td>
				</tr>
				<tr>
					<td><label><%= unit_select.attack %>: </label></td><td><input type="number" value="1" min="1" id="attacker-strength">
						<td><label><%= unit_select.firepower %>: </label></td><td><input type="number" value="1" min="1" id="attacker-firepower"></td>
				</tr>
			</table>
		</fieldset>
		<fieldset id="fieldset-defender">
			<legend><%= unit_select.legend_def %></legend>
			<table class="table-unit-select">
				<tr>
					<td><label><%= unit_select.select %>: </label></td>
					<td><select id="combobox-defence"></select></td>
				</tr>
				<tr>
					<td><label><%= unit_select.class %>: </label></td>
					<td><input type="hidden" id="defender-class"><span id="defender-class-display"></span></td>
				</tr>
				<tr>
					<td><label><%= unit_select.veteran %>: </label></td>
					<td><select id="defender-veteranlevel"></select></td>
				</tr>
			</table>
			<table>
				<tr>
					<td><label><%= unit_select.current_hp %>: </label></td><td><input type="number" value="10" min="1" id="defender-current-hp"></td>
					<td><label><%= unit_select.max_hp %>: </label></td><td><input type="number" value="10" min="1" id="defender-max-hp"></td>
				</tr>
				<tr>
					<td><label><%= unit_select.defence %>: </label></td><td><input type="number" value="1" min="1" id="defender-strength">
						<td><label><%= unit_select.firepower %>: </label></td><td><input type="number" value="1" min="1" id="defender-firepower"></td>
				</tr>
			</table>
		</fieldset>
	</div>
	<fieldset>
		<legend><%= adjustments.legend %></legend>
		<fieldset id="fieldset-terrains">
			<legend><%= adjustments.legend_terrains %></legend>
			<label><%= adjustments.select_terrain %>: </label>
			<select id="select-terrain">
			</select>
			<span id="flags-roads">
	   </span>
		</fieldset>
		<fieldset id="fieldset-in-city">
			<legend><input type="radio" name="in-city-or-open" value="city" id="in-city"><label for="in-city"  title="land units gain 150% defence adjustments"><%= adjustments.legend_in_city %></label></legend>
			<label><%= adjustments.defence_structure %>: </label>
			<ul id="list-structure">
			</ul>
		</fieldset>
		<fieldset id="fieldset-in-open">
			<legend><input type="radio" name="in-city-or-open" value="open" id="in-open"><label for="in-open"><%= adjustments.legend_in_open %><label></legend>
			<input type="checkbox" id="defender-fortified"><label for="defender-fortified" title="valid for only land units"><%= adjustments.fortified %></label>
			<span id="flags-bases">
			</span>
		</fieldset>
		<span id="flags-ex">
		</span>
	</fieldset>
	<button type="button" id="calc"><%= calc %></button>
	<div id="result-wrapper" style="display:none">
		<table id="result-table">
			<tr>
				<th><%= result.unit_side %></th>
				<th><%= result.strength %></th>
				<th><%= result.prob %></th>
				<th><%= result.exp %></th>
			</tr>
			<tr>
				<td id="attacker-result-side"><%= result.unit_side_attacker %></th>
				<td id="attacker-result-strength"></th>
				<td id="attacker-result-prob"></th>
				<td id="attacker-result-exp"></th>
			</tr>
			<tr>
				<td id="defender-result-side"><%= result.unit_side_defender %></th>
				<td id="defender-result-strength"></th>
				<td id="defender-result-prob"></th>
				<td id="defender-result-exp"></th>
			</tr>
		</table>
		<button id="add-tab"><%= show_detail_tab %></button>
	</div>
</div>
<div id="tab-config">
	<fieldset>
		<legend><%= config.dataset_legend %></legend>
		<p><%= "current_dataset" %>: <span id="current-dataset"></span></p>
		<fieldset>
			<legend><%= "select_dataset" %></legend>
			<p>
				<label><%= "select_dataset" %>: </label>
				<select id="select-dataset">
				<% for(var i=0; i<dataset.length; i++) {%>
				<option value="<%= dataset[i].path %>" <% if(dataset[i].default){ %>selected <% } %>><%= dataset[i].filename %></option>
				<% } %>
				</select>
				<a id="dataset-download"><%= "Download this dataset" %></a>
			</p>
			<p>
				<button id="selected-dataset-apply"><%= "apply" %></button>
			</p>
		</fieldset>
		<fieldset>
			<legend><%= "load_dataset_from_local_file" %></legend>
			<p>
				<label><%= "select dataset file" %>: </label>
				<input type="file" id="dataset-load">
			</p>
			<p>
				<button id="local-dataset-apply" disabled><%= "apply" %></button>
				<span id="display-error-local-dataset-load" style="display:none"><%= "failed to load dataset (invalid dataset JSON file)"%></span>
			</p>
		</fieldset>
	</fieldset>
</div>
<template id="result-template">
	<div class="flex-container">
		<fieldset id="fieldset-attacker-detail" class="fieldset-attacker-detail">
			<legend><%= result_detail.units.atk_legend %>: <span id="attacker-detail-unitname"></span></legend>
			<p><%= result_detail.units.prob %>: <span id="attacker-detail-prob"></span></p>
			<table id="attacker-detail">
				<tr>
					<th><%= result_detail.units.hp %></th>
					<th><%= result_detail.units.attack %></th>
					<th><%= result_detail.units.firepower %></th>
				</tr>
				<tr>
					<td id="attacker-detail-hp"></td>
					<td id="attacker-detail-attack-raw"></td>
					<td id="attacker-detail-firepower-raw"></td>
				</tr>
				<tr>
					<th><%= result_detail.units.mod %></th>
					<th><%= result_detail.units.modified_strength %></th>
					<th><%= result_detail.units.firepower %></th>
				</tr>
				<tr>
					<td></td>
					<td id="attacker-detail-attack-mod"></td>
					<td id="attacker-detail-firepower-mod"></td>
				</tr>
			</table>
		</fieldset>
		<fieldset id="fieldset-defender-detail" class="fieldset-defender-detail">
			<legend><%= result_detail.units.def_legend %>: <span id="defender-detail-unitname"></span></legend>
			<p><%= result_detail.units.prob %>: <span id="defender-detail-prob"></span></p>
			<table id="defender-detail">
				<tr>
					<th><%= result_detail.units.hp %></th>
					<th><%= result_detail.units.defence %></th>
					<th><%= result_detail.units.firepower %></th>
				</tr>
				<tr>
					<td id="defender-detail-hp"></td>
					<td id="defender-detail-defence-raw"></td>
					<td id="defender-detail-firepower-raw"></td>
				</tr>
				<tr>
					<th><%= result_detail.units.mod %></th>
					<th><%= result_detail.units.modified_strength %></th>
					<th><%= result_detail.units.firepower %></th>
				</tr>
				<tr>
					<td></td>
					<td id="defender-detail-defence-mod"></td>
					<td id="defender-detail-firepower-mod"></td>
				</tr>
			</table>
		</fieldset>
	</div>
	<fieldset id="fieldset-adjustments">
		<legend><%= result_detail.adjustments.legend %></legend>
		<table id="adjustments-detail" data-effects='<%= JSON.stringify(result_detail.adjustment_effect_name) %>'>
			<tr>
				<th><%= result_detail.adjustments.label %></th>
				<th><%= result_detail.adjustments.effect %></th>
				<th><%= result_detail.adjustments.value %></th>
			</tr>
		</table>
	</fieldset>
	<div class="flex-container">
		<fieldset id="fieldset-exp-attacker" class="fieldset-exp-attacker">
			<legend><%= result_detail.hp_graph.atk_legend %></legend>
			<p><%= result_detail.hp_graph.exp %>: <span id="attacker-detail-exp"></span></p>
			<div id="chart-exp-attacker" style="width: 100%; height: 300px;"></div>
		</fieldset>
		<fieldset id="fieldset-exp-defender" class="fieldset-exp-defender">
			<legend><%= result_detail.hp_graph.def_legend %></legend>
			<p><%= result_detail.hp_graph.exp %>: <span id="defender-detail-exp"></span></p>
			<div id="chart-exp-defender" style="width: 100%; height: 300px;"></div>
		</fieldset>
	</div>
</template>
</template>
</body>
</html>
